.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--gray-400);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  height: 68px;
  padding: 16px;
}

.itemLeft,
.itemRight {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemTitle {
  font-size: var(--heading-2-size);
  font-weight: var(--heading-2-weight);
  line-height: var(--heading-2-line-height);

  color: var(--gray-100);
}

.itemDescription {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  margin-top: 2px;
  text-transform: lowercase;

  color: var(--gray-200);
}

.ItemCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  width: 83px;
  height: 32px;
  border-radius: 999px;
}

.ItemCategory p {
  font-size: var(--tag-size);
  font-weight: var(--tag-weight);
  line-height: var(--tag-line-height);
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--gray-300);
  border-radius: 2px;
  border: 1px solid var(--purple-light);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--success);
  border-color: var(--success);
}

input[type="checkbox"]:checked::before {
  content: "✓";
  font-size: 12px;
  color: var(--gray-100);
  position: absolute;
  top: -2px;
  left: 2px;
}

.itemContainerChecked {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
}

.titleIsChecked {
  filter: brightness(0.5);
  text-decoration: line-through;
}

.isChecked {
  filter: brightness(0.5);
}
